:root {
  --primary-color: #1976d2;
  --secondary-color: #543bac;
  --warning-color: #d32f7b;
}

body {
  margin: 0;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.4s;
}

.btn:hover:not(:disabled) {
  background-color: var(--secondary-color);
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}
